In [50]:
pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (0.5.0)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: ipython in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (8.5.0)
Requirement already satisfied: ipython-genutils in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlparse in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: prettytable in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (3.6.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from ipython-sql) (2.0.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.5.0)
Requirement already satisfied: stack-data in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.5.1)
Requirement already satisfied: traitlets>=5 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (5.5.0)
Requirement already satisfied: prompt-toolkit<3.1.0,>3.0.1 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (3.0.31)
Requirement already satisfied: backcall in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: pygments>=2.4.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (2.13.0)
Requirement already satisfied: decorator in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: colorama in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (1.1.1)
Requirement already satisfied: asttokens in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.8)
Requirement already satisfied: pure-eval in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [51]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (2.0.7)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (2.0.2)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from sqlalchemy) (4.5.0)
Note: you may need to restart the kernel to use updated packages.

In [52]:
pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (2.9.5)
Note: you may need to restart the kernel to use updated packages.

In [53]:
pip install matplotlib

Requirement already satisfied: matplotlib in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (3.7.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (4.39.3)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (21.3)
Requirement already satisfied: numpy>=1.20 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.23.5)
Requirement already satisfied: pillow>=6.2.0 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (9.4.0)
Requirement already satisfied: cycler>=0.10 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [54]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [55]:
%sql postgresql://postgres:yak152011@localhost/online_store

In [68]:
%%sql
CREATE TABLE Users (
  Id INTEGER PRIMARY KEY,
  FirstName TEXT,
  LastName TEXT,
  Email TEXT
);

INSERT INTO Users (Id, FirstName, LastName, Email)
VALUES
  (1, 'Kirill', 'Yakovlev', 'Yakovelv_Kirill@mail.ru'),
  (2, 'Ivan', 'Yakovlev', 'Iv_Yakovlev@mail.ru'),
  (3, 'Aleksey', 'Maltsev', 'maltsev@mail.ru'),
  (4, 'Dmitriy', 'Agofonov', 'dmit_ag@mail.ru');

 * postgresql://postgres:***@localhost/online_store
Done.
4 rows affected.

[]

In [70]:
%%sql
CREATE TABLE Products (
  Id INTEGER PRIMARY KEY,
  Name TEXT,
  CategoryId INTEGER,
  Price INTEGER
);

INSERT INTO Products (Id, Name, CategoryId, Price)
VALUES
  (1, 'iPhone', 1, 999),
  (2, 'Samsung Galaxy', 1, 899),
  (3, 'Pixel', 1, 799),
  (4, 'MacBook Pro', 2, 1999),
  (5, 'Surface Laptop', 2, 1499),
  (6, 'ThinkPad', 2, 1299),
  (7, 'Bose Headphones', 3, 299),
  (8, 'Sony Headphones', 3, 249),
  (9, 'Sennheiser Headphones', 3, 199);

 * postgresql://postgres:***@localhost/online_store
Done.
9 rows affected.

[]

In [69]:
%%sql
CREATE TABLE Categories (
  Id INTEGER PRIMARY KEY,
  Name TEXT
);

INSERT INTO Categories (Id, Name)
VALUES
  (1, 'Phones'),
  (2, 'Laptops'),
  (3, 'Headphones');

 * postgresql://postgres:***@localhost/online_store
Done.
3 rows affected.

[]

In [71]:
%%sql
CREATE TABLE Orders (
  Id INTEGER PRIMARY KEY,
  UserId INTEGER,
  ProductId INTEGER,
  Quantity INTEGER,
  OrderDate TEXT,
  FOREIGN KEY (UserId) REFERENCES Users(Id),
  FOREIGN KEY (ProductId) REFERENCES Products(Id)
);

INSERT INTO Orders (Id, UserId, ProductId, Quantity, OrderDate)
VALUES
  (1, 1, 1, 1, '2023-04-12'),
  (2, 1, 4, 1, '2023-04-12'),
  (3, 2, 2, 1, '2023-04-12'),
  (4, 3, 7, 2, '2023-04-11'),
  (5, 4, 6, 1, '2023-04-11'),
  (6, 4, 8, 1, '2023-04-11'),
  (7, 1, 3, 1, '2023-04-11'),
  (8, 2, 5, 1, '2023-04-10'),
  (9, 3, 9, 1, '2023-04-10');

 * postgresql://postgres:***@localhost/online_store
Done.
9 rows affected.

[]

# Задание
1. Получить информацию о кол-ве продаж всех товаров

In [72]:
%%sql
SELECT Products.Name, SUM(Orders.Quantity) AS TotalQuantity 
FROM Orders 
INNER JOIN Products ON Orders.ProductID = Products.ID 
GROUP BY Products.ID;

 * postgresql://postgres:***@localhost/online_store
9 rows affected.

[('Samsung Galaxy', 1),
 ('Pixel', 1),
 ('Surface Laptop', 1),
 ('Sony Headphones', 1),
 ('MacBook Pro', 1),
 ('ThinkPad', 1),
 ('Sennheiser Headphones', 1),
 ('Bose Headphones', 2),
 ('iPhone', 1)]

2. Собрать статистику покупок пользователя (сколько и каких товаров купил конкретный пользователь)

In [73]:
%%sql
SELECT Users.FirstName, Users.LastName, Products.Name, Orders.Quantity
FROM Orders
INNER JOIN Users ON Orders.UserID = Users.ID
INNER JOIN Products ON Orders.ProductID = Products.ID
WHERE Users.ID = 1;

 * postgresql://postgres:***@localhost/online_store
3 rows affected.

[('Kirill', 'Yakovlev', 'iPhone', 1),
 ('Kirill', 'Yakovlev', 'MacBook Pro', 1),
 ('Kirill', 'Yakovlev', 'Pixel', 1)]

3. Отобразить историю продаж по дням (сколько товаров было продано в день)

In [74]:
%%sql
SELECT DATE(Orders.OrderDate) AS order_date, SUM(Orders.Quantity) AS total_number_sales
FROM Orders
GROUP BY order_date;

 * postgresql://postgres:***@localhost/online_store
3 rows affected.

[(datetime.date(2023, 4, 10), 2),
 (datetime.date(2023, 4, 12), 3),
 (datetime.date(2023, 4, 11), 5)]